<div class="row clearfix">
    <div class="col-md-12 column Footer"> <!--Footer-->
        <div class="container">
            <ul class="list-inline">
                <li><a href="/">HOME</a></li>
                <li><a href="products.html">PRODUCTS</a></li>
                <li><a href="aboutus.html">ABOUT US</a></li>
                <li><a href="grievances.html">GRIEVANCES</a></li>
                <!-- <span class="pull-right small text-muted">©D2C Insurance Broking Pvt Ltd</span> -->
            </ul>
        </div>
    </div> <!--Footer end-->
</div>

